home{
    display: flex;
}

.session-container {
    width: 0;
    flex-grow: 1;
    flex-direction: column; 
    margin-right: 20px;
}

.chat-container {
    flex-grow: 39;
    
    flex-direction: row-reverse;
    align-content: flex-end;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    min-height: 600px;
    max-height: 1000px;
}

.SessionBar {

    width: 0;
    flex-grow: 1;
    height: 75%;
    position: fixed;
     background-color: #d9d9d9;
     overflow-x: hidden; 
    padding-top: 60px;
     transition: 0.5s; 
    flex-grow: 1;
}

/* The sidepanel links */
.SessionBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.SessionBar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.SessionBar .closebtn {
    background-image: url('../images/Sidebar Icon - right.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none; 
    background-image: url('../images/Sidebar Icon - left.png');
    background-repeat: no-repeat;
    background-size:contain;
}

.openbtn:focus {
    outline: none;
}

.openbtn:hover {
    border: none;
}

.new-session {
    background-color: #808080;
    color: white;
}

.chat-conversation {
    justify-content: space-between; 
    overflowY: 'scroll';
    flexGrow: 1;
}

.chat-input {
    display: flex;
    align-items: center;
}

.chat-inputField {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-submit {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
    transition: left 0.3s;
    z-index: 1000;
  }
  
.sidebar.open {
left: 0;
}

.pushed-content {
transition: margin-left 0.3s;
}

.pushed-content.open {
margin-left: 300px;
}
