#root {
  max-width: 1280px;
  margin: 0;
  /* padding: 2rem; */
  text-align: left;
  height: 100vh;
  position: relative;
}
.DisplayWindow{
  background-color: blue;
  position: absolute;
  top: 0;
  width: 100%
}
.mainCheese{
}
.Navbar{
}
.SessionBar{
  background-color: brown;
  position: absolute;
  bottom: 0;
  width: 100%
}

.TextBox{
  background-color: greenyellow;
  position: absolute;
  bottom: 0;
  width: 100%
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

 *{
  box-sizing: border-box;
}

/* body {
  margin: 0;
} */

.nav {
  background-color: #154734;
  color: white;
  display: flex;
  position: absolute;
  top: 0px;
  width: 100%;
  /* justify-content: space-between; */
  /*align-items: center;*/
  /*gap: 2rem;*/
  /* padding: 0 1rem; */
}

.utd-icon {
  max-width: 15%;
  margin-left: 7rem;
}

.navbar-caption {
  display: block;
}

.navbar-cap-1 {
  margin: 0;
  margin-left: 3rem;
  font-size: 30px;
}

.navbar-cap-2 {
  margin: 0;
  margin-top: 1.5rem;
  margin-left: 3rem;
  font-size: 30px;
}

.ChatBox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}